# Neural Networks

#### Classifier will predict the type of investment the company will get

### Creating Dataset......

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.neural_network import *
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt

In [3]:
Companies = pd.read_csv('../Dataset/Companies.csv')

In [4]:
print Companies.columns

Index([u'name', u'category_code', u'funding_total_usd', u'status',
       u'country_code', u'state_code', u'region', u'city', u'funding_rounds',
       u'founded_year'],
      dtype='object')

In [5]:
Companies.drop(['funding_rounds','founded_year'],axis=1,inplace=True)

In [6]:
print len(Companies)
print len(np.unique(Companies['name']))
print Companies['funding_total_usd'][0]

37875
37875
750,000

In [7]:
Rounds = pd.read_csv('../Dataset/Rounds.csv')

In [8]:
print Rounds.columns

Index([u'company_name', u'funding_round_type', u'funded_year',
       u' raised_amount_usd '],
      dtype='object')

In [9]:
Rounds.rename(columns={'company_name':'name'},inplace=True)

In [10]:
print Rounds.columns

Index([u'name', u'funding_round_type', u'funded_year', u' raised_amount_usd '], dtype='object')

In [11]:
print np.unique(Rounds.funding_round_type)

['angel' 'crowdfunding' 'other' 'post-ipo' 'private-equity' 'series-a'
 'series-b' 'series-c+' 'venture']

In [12]:
data = pd.merge(Companies,Rounds,how='inner',on='name')

In [13]:
print data.columns
print len(data)

Index([u'name', u'category_code', u'funding_total_usd', u'status',
       u'country_code', u'state_code', u'region', u'city',
       u'funding_round_type', u'funded_year', u' raised_amount_usd '],
      dtype='object')
64107

In [14]:
data.drop(['name','funded_year',' raised_amount_usd ','funding_total_usd'],axis=1,inplace=True)

#### Encoding the categorical features into integers.......

In [15]:
def onehotencode_toIntegers(data):
    
    unique_tokens=np.unique(data['category_code']).copy()
    print "encoding categories...",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['category_code'][data['category_code']==value] = index

    unique_tokens=np.unique(data['status']).copy()
    print "encoding status....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['status'][data['status']==value] = index
        
    unique_tokens=np.unique(data['country_code']).copy()
    print "encoding countries....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['country_code'][data['country_code']==value] = index
        
    unique_tokens=np.unique(data['state_code']).copy()
    print "encoding states....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['state_code'][data['state_code']==value] = index
        
    unique_tokens=np.unique(data['region']).copy()
    print "encoding regions....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['region'][data['region']==value] = index
        
    unique_tokens=np.unique(data['city']).copy()
    print "encoding cities....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['city'][data['city']==value] = index
        
    unique_tokens=np.unique(data['funding_round_type']).copy()
    print "encoding funding_round_type.....",len(unique_tokens)
    print "unique labels : ",unique_tokens
    for index,value in enumerate(unique_tokens):
        data['funding_round_type'][data['funding_round_type']==value] = index
    
    data.to_csv("data.csv")

In [16]:
print data.columns

Index([u'category_code', u'status', u'country_code', u'state_code', u'region',
       u'city', u'funding_round_type'],
      dtype='object')

In [17]:
data = data.sort(['funding_round_type'])
data.dropna()

/home/shaheer/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,category_code,status,country_code,state_code,region,city,funding_round_type
30320,manufacturing,operating,USA,CA,SF Bay,LOS ALTOS HILLS,angel
30319,manufacturing,operating,USA,CA,SF Bay,LOS ALTOS HILLS,angel
30262,mobile,operating,USA,CA,SF Bay,San Francisco,angel
30261,mobile,operating,USA,CA,SF Bay,San Francisco,angel
30258,software,operating,USA,CA,San Diego,Carlsbad,angel
30255,consulting,operating,USA,IL,Chicago,Chicago,angel
30304,enterprise,operating,USA,CO,Denver,Boulder,angel
30449,advertising,operating,USA,CA,SF Bay,Mountain View,angel
30438,social,operating,USA,NY,New York,New York,angel
30409,other,operating,USA,CO,Denver,Englewood,angel
30355,software,operating,USA,TX,Austin,Austin,angel
30407,social,operating,USA,IL,Chicago,Chicago,angel
30392,design,acquired,USA,NY,New York,New York City,angel
30387,mobile,operating,USA,MI,Detroit,Ann Arbor,angel
30386,hardware,operating,USA,CA,SF Bay,Mountain View,angel
30383,ecommerce,operating,USA,PA,Philadelphia,Philadelphia,angel
30373,sports,operating,DNK,CA,SF Bay,Palo Alto,angel
30453,news,acquired,USA,CA,SF Bay,Mountain View,angel
30160,biotech,operating,USA,MO,Saint Louis,St. Louis,angel
30159,search,operating,USA,CA,SF Bay,Sunnyvale,angel
30158,search,operating,USA,CA,SF Bay,Sunnyvale,angel
30157,search,operating,USA,CA,SF Bay,Sunnyvale,angel
30153,advertising,operating,USA,CO,Denver,Broomfield,angel
30140,health,operating,USA,CA,SF Bay,Palo Alto,angel
30139,other,operating,USA,RI,Providence,Providence,angel
30138,other,operating,USA,RI,Providence,Providence,angel
30137,other,operating,USA,RI,Providence,Providence,angel
30136,other,operating,USA,RI,Providence,Providence,angel
30135,other,operating,USA,RI,Providence,Providence,angel
30106,ecommerce,operating,USA,IL,Chicago,Chicago,angel
...,...,...,...,...,...,...,...
21806,biotech,operating,USA,NC,Raleigh-Durham,Durham,venture
21807,biotech,operating,USA,GA,Atlanta,Norcross,venture
28108,network_hosting,acquired,USA,IL,Chicago,Oak Brook,venture
9522,hospitality,operating,USA,CA,Los Angeles,IRVINE,venture
21810,biotech,acquired,USA,CA,SF Bay,Redwood City,venture
21811,biotech,acquired,USA,CA,SF Bay,Redwood City,venture
21812,biotech,operating,USA,FL,Orlando,ORLANDO,venture
48321,messaging,acquired,USA,NY,New York,New York,venture
21813,biotech,operating,USA,FL,Orlando,ORLANDO,venture
48319,medical,operating,USA,NM,unknown,Suite A3 Santa Fe,venture
21814,biotech,operating,USA,FL,Orlando,ORLANDO,venture
48317,hospitality,acquired,USA,NY,New York,New York,venture
21815,biotech,operating,USA,FL,Orlando,ORLANDO,venture
48315,hospitality,acquired,USA,NY,New York,New York,venture
11023,ecommerce,operating,USA,CA,SF Bay,San Francisco,venture
4285,web,operating,USA,MN,Minneapolis,Minnetonka,venture
4284,other,operating,USA,NJ,Fairfield,Fairfield,venture
48363,search,operating,USA,NY,New York,New York,venture
48362,search,operating,USA,NY,New York,New York,venture
48361,search,operating,USA,NY,New York,New York,venture
4278,software,operating,USA,MA,Boston,Cambridge,venture
48354,biotech,operating,USA,MA,Boston,Cambridge,venture
21799,biotech,closed,USA,VA,Charlottesville,Charlottesville,venture
7307,software,operating,USA,TX,Dallas,Dallas,venture
21803,biotech,operating,USA,VA,Charlottesville,Charlottesville,venture
48341,software,operating,USA,CA,SF Bay,San Mateo,venture
28112,manufacturing,operating,USA,CO,Denver,Boulder,venture
28111,transportation,operating,USA,WI,TBD,Sun Prarie,venture
48337,advertising,acquired,USA,MA,Boston,Beverly,venture
30983,medical,operating,USA,MA,Boston,Newton,venture

#### Removing Noise from the dataset

In [18]:
data = data[data.category_code.notnull()]
data = data[data.status.notnull()]
data = data[data.country_code.notnull()]
data = data[data.state_code.notnull()]
data = data[data.region.notnull()]
data = data[data.city.notnull()]
data = data[data.funding_round_type.notnull()]

In [19]:
print len(data)

42019

In [20]:
Original_data = data.copy()
labels = np.unique(data.funding_round_type)
print labels

['angel' 'crowdfunding' 'other' 'post-ipo' 'private-equity' 'series-a'
 'series-b' 'series-c+' 'venture']

In [21]:
onehotencode_toIntegers(data)

encoding categories... 43
encoding status.... 4
encoding countries.... 24
encoding states.... 51
encoding regions.... 847
encoding cities.... 2337
encoding funding_round_type..... 9
unique labels :  ['angel' 'crowdfunding' 'other' 'post-ipo' 'private-equity' 'series-a'
 'series-b' 'series-c+' 'venture']

In [22]:
print np.unique(data.funding_round_type)

[0 1 2 3 4 5 6 7 8]

In [23]:
data.dropna()

,category_code,status,country_code,state_code,region,city,funding_round_type
30320,19,3,23,4,625,986,0
30319,19,3,23,4,625,986,0
30262,22,3,23,4,625,1792,0
30261,22,3,23,4,625,1792,0
30258,38,3,23,4,642,336,0
30255,5,3,23,14,126,383,0
30304,9,3,23,5,171,233,0
30449,0,3,23,4,625,1285,0
30438,37,3,23,34,482,1352,0
30409,28,3,23,5,171,615,0
30355,38,3,23,43,31,105,0
30407,37,3,23,14,126,383,0
30392,6,0,23,34,482,1353,0
30387,22,3,23,22,175,65,0
30386,14,3,23,4,625,1285,0
30383,7,3,23,38,555,1547,0
30373,39,3,5,4,625,1512,0
30453,26,0,23,4,625,1285,0
30160,3,3,23,24,635,1955,0
30159,34,3,23,4,625,2006,0
30158,34,3,23,4,625,2006,0
30157,34,3,23,4,625,2006,0
30153,0,3,23,5,171,273,0
30140,15,3,23,4,625,1512,0
30139,28,3,23,39,581,1606,0
30138,28,3,23,39,581,1606,0
30137,28,3,23,39,581,1606,0
30136,28,3,23,39,581,1606,0
30135,28,3,23,39,581,1606,0
30106,7,3,23,14,126,383,0
...,...,...,...,...,...,...,...
21806,3,3,23,27,588,549,8
21807,3,3,23,10,23,1376,8
28108,25,0,23,14,126,1428,8
9522,16,3,23,4,373,889,8
21810,3,0,23,4,625,1656,8
21811,3,0,23,4,625,1656,8
21812,3,3,23,9,529,1426,8
48321,21,0,23,34,482,1352,8
21813,3,3,23,9,529,1426,8
48319,20,3,23,32,844,1996,8
21814,3,3,23,9,529,1426,8
48317,16,0,23,34,482,1352,8
21815,3,3,23,9,529,1426,8
48315,16,0,23,34,482,1352,8
11023,7,3,23,4,625,1792,8
4285,42,3,23,23,430,1234,8
4284,28,3,23,31,217,644,8
48363,34,3,23,34,482,1352,8
48362,34,3,23,34,482,1352,8
48361,34,3,23,34,482,1352,8
4278,38,3,23,19,78,321,8
48354,3,3,23,19,78,321,8
21799,3,1,23,45,120,371,8
7307,38,3,23,43,164,491,8
21803,3,3,23,45,120,371,8
48341,38,3,23,4,625,1807,8
28112,19,3,23,5,171,233,8
28111,40,3,23,48,726,2003,8
48337,0,0,23,19,78,196,8
30983,20,3,23,19,78,1368,8

Changing datatype of features to integer

In [24]:
data['category_code'] = data['category_code'].astype(int)
data['status'] = data['status'].astype(int)
data['country_code'] = data['country_code'].astype(int)
data['region'] = data['region'].astype(int)
data['state_code'] = data['state_code'].astype(int)
data['city'] = data['city'].astype(int)
data['funding_round_type'] = data['funding_round_type'].astype(int)

#### Creating training and test set by 70 % and 30% ratio

In [25]:
Y = data.funding_round_type

data.drop(['funding_round_type'],axis=1,inplace=True)

In [26]:
print data.columns
print Y[:3]
print len(np.unique(Y))

Index([u'category_code', u'status', u'country_code', u'state_code', u'region',
       u'city'],
      dtype='object')
30320    0
30319    0
30262    0
Name: funding_round_type, dtype: int64
9

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(data,Y,test_size=0.3)

In [58]:
print "Xtrain : ",X_train.shape
print "Xtest : ",X_test.shape
print "Ytrain : ",Y_train.shape
print "Ytest : ",Y_test.shape
Y_train= Y_train.reshape(Y_train.shape[0],1)
Y_test= Y_test.reshape(Y_test.shape[0],1)

Xtrain :  (29413, 6)
Xtest :  (12606, 6)
Ytrain :  (29413, 1)
Ytest :  (12606, 1)

### Classification

In [59]:
import tensorflow as tf # import the tensor flow

In [60]:
n_targets = len(np.unique(Y_train))

In [61]:
#Our Learning  Parameters
learning_rate = 0.001
num_epochs = 5
batch_size = 100
display_step = 1

In [107]:
def weight_variable(shape):
  initial = tf.truncated_normal(shape, stddev=0.1)
  return tf.Variable(initial)

def bias_variable(shape):
  initial = tf.constant(0.1, shape=shape)
  return tf.Variable(initial)

In [112]:
x = tf.placeholder(tf.float32,[None,6])
y = tf.placeholder(tf.float32,[None,1])
w1 = weight_variable([6,200])
b1 = bias_variable([200])
w2 = weight_variable([200,500])
b2 = weight_variable([500])

sm_w = weight_variable([500,n_targets])
sm_b = bias_variable([n_targets])

In [113]:
affine = tf.nn.relu(tf.matmul(x,w1)+b1)
affine2 = tf.nn.relu(tf.matmul(affine,w2)+b2)
drop_prob = tf.placeholder("float")
drop_out = tf.nn.dropout(affine2, drop_prob)
sm_affine = tf.matmul(drop_out,sm_w)+sm_b
sm = tf.nn.softmax(sm_affine)

In [114]:
# define the loss function...
# define the loss function...
cost = -tf.reduce_sum(y*tf.log(sm))

optimizer = tf.train.GradientDescentOptimizer(learning_rate=learning_rate).minimize(cost)

In [115]:
correct_prediction = tf.equal(tf.argmax(sm, 1), tf.argmax(y, 1))
# Calculate accuracy
accuracy = tf.reduce_mean(tf.cast(correct_prediction, "float"))

In [119]:
init=tf.initialize_all_variables()

In [123]:

saver = tf.train.Saver()
with tf.Session() as session:
    session.run(init) # initalize
    for i in range(num_epochs):
        batch_size=100
        nb = X_train.shape[0]/ batch_size;
        print nb
        pre_batch =0
        for j in range(nb):
            if batch_size <= X_train.shape[0]:
                xs = X_train[pre_batch:batch_size]
                ys = Y_train[pre_batch:batch_size]
                pre_batch = batch_size
                batch_size += 100
                #print batch_size
                session.run(optimizer,feed_dict = {x:xs,y:ys,drop_prob:0.5})
                cost_per_batch = session.run(cost,feed_dict = {x:xs,y:ys,drop_prob:0.5})
            
    print "Optimization Finished!"
    saver.save(session,'model.ckpt')
    print correct_prediction.eval({x: X_test, y: Y_test,drop_prob :1.0})
    print "Accuracy:", accuracy.eval({x: X_test, y: Y_test,drop_prob :1.0})

294
294
294
294
294
Optimization Finished!
[ True  True  True ...,  True  True  True]
Accuracy: 1.0

In [78]:
from sklearn import metrics

[array([0, 0, 0, ..., 0, 0, 0])]

In [93]:
from scipy import stats
stats.itemfreq(best)
stats.itemfreq(Y_test)

array([[   0, 2403],
       [   1,   21],
       [   2, 1437],
       [   3,   43],
       [   4,  305],
       [   5, 2137],
       [   6, 1129],
       [   7, 1143],
       [   8, 3988]])