# Data Visualisation

In [1]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt
import plotly.plotly as py

In [2]:
Companies = pd.read_csv('../Dataset/Companies.csv')

In [3]:
Investments = pd.read_csv('../Dataset/Investments.csv')

C:\Users\zubai\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning:

Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.

In [4]:
Investments.rename(columns={'company_name':'name'},inplace=True)

In [5]:
data = pd.merge(Companies,Investments,how='inner',on='name')

In [6]:
print data.columns

Index([u'name', u'category_code', u'funding_total_usd', u'status',
       u'country_code', u'state_code', u'region', u'city', u'funding_rounds',
       u'founded_year', u'investor_name', u'investor_category_code',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_type', u'funded_at', u'funded_month',
       u'funded_quarter', u'funded_year', u' raised_amount_usd '],
      dtype='object')

In [7]:
Data = pd.DataFrame()
Data['country_code'] = data.country_code.copy()
Data['raised_amount_usd'] = data[' raised_amount_usd '].copy()

In [8]:
Data = Data[Data.country_code.notnull()]
Data = Data[Data.raised_amount_usd.notnull()]
print len(Data)

78267

In [9]:
print np.unique(Data.country_code)

['ALB' 'ANT' 'ARE' 'ARG' 'AUS' 'AUT' 'AZE' 'BEL' 'BGD' 'BGR' 'BHR' 'BHS'
 'BMU' 'BRA' 'CAN' 'CHE' 'CHL' 'CHN' 'COL' 'CRI' 'CSS' 'CYM' 'CYP' 'CZE'
 'DEU' 'DNK' 'DOM' 'ECU' 'EGY' 'ESP' 'EST' 'FIN' 'FRA' 'FST' 'GBR' 'GEO'
 'GHA' 'GIB' 'GIN' 'GRC' 'GTM' 'HKG' 'HRV' 'HUN' 'IDN' 'IND' 'IRL' 'ISL'
 'ISR' 'ITA' 'JOR' 'JPN' 'KEN' 'KOR' 'LBN' 'LKA' 'LTU' 'LUX' 'LVA' 'MAR'
 'MCO' 'MEX' 'MKD' 'MLT' 'MYS' 'NGA' 'NLD' 'NOR' 'NPL' 'NZL' 'OMN' 'PAK'
 'PAN' 'PER' 'PHL' 'POL' 'PRT' 'PST' 'ROM' 'RUS' 'SAU' 'SGP' 'SLV' 'SVK'
 'SVN' 'SWE' 'SWZ' 'THA' 'TUN' 'TUR' 'TWN' 'TZA' 'UGA' 'UKR' 'UMI' 'URY'
 'USA' 'VEN' 'VNM' 'ZAF' 'ZMB' 'ZWE']

In [10]:
unique_countries = np.unique(Data.country_code)
print len(unique_countries)

102

In [11]:
Data['raised_amount_usd'] = Data['raised_amount_usd'].str.replace(',','')
Data['raised_amount_usd'] = Data['raised_amount_usd'].astype(long)

In [12]:
Data.reset_index(drop=True)

      country_code  raised_amount_usd
0              BRA             750000
1              USA            1750000
2              USA            1750000
3              USA            1750000
4              USA            1750000
5              USA            1750000
6              EST              40000
7              ARG            4912394
8              USA            1700000
9              CHL              40000
10             USA              40000
11             USA              15000
12             USA            2520000
13             USA            2520000
14             USA              15000
15             USA            2520000
16             USA            2520000
17             USA            2520000
18             USA            2520000
19             USA            2520000
20             USA            2520000
21             FRA            1736910
22             CHN            3000000
23             USA             750000
24             USA             750000
25             USA             500000
26             USA             750000
27             USA           35000000
28             USA            1800000
29             AUS              20000
...            ...                ...
78237          USA           15187000
78238          USA           10000000
78239          USA           10000000
78240          USA           25000000
78241          GBR            3800000
78242          GBR            3800000
78243          USA           12000000
78244          USA           12000000
78245          MYS            5400000
78246          MYS            7991548
78247          MYS            2007363
78248          MYS            7991548
78249          USA              50000
78250          USA             445000
78251          AUT            2686600
78252          GBR             120000
78253          HRV              32360
78254          HRV              32165
78255          USA           16000000
78256          USA           10000000
78257          USA           17000000
78258          USA           16000000
78259          USA           10000000
78260          USA           16000000
78261          USA           10000000
78262          USA           10000000
78263          USA           12000000
78264          USA           12000000
78265          DEU              40000
78266          CHN              10000

[78267 rows x 2 columns]

In [13]:
new_Data = pd.DataFrame()
new_Data['country_code'] = unique_countries
result = 0.0
new_Data['raised_amount_usd'] = 0
new_Data['raised_amount_usd'] = new_Data['raised_amount_usd'].astype(long)

for country in unique_countries:
    result = 0.0
    Index = new_Data.country_code[new_Data.country_code==country].index
    indexes = (Data[Data['country_code']==country].index.tolist())
    for i in indexes:
        if i <= 80396:
            result += Data.at[i,'raised_amount_usd']
    new_Data.at[Index,'raised_amount_usd'] = result

In [14]:
print new_Data

    country_code  raised_amount_usd
0            ALB       1.500000e+05
1            ANT       2.573200e+05
2            ARE       4.516900e+08
3            ARG       2.811082e+08
4            AUS       2.108235e+09
5            AUT       1.153724e+09
6            AZE       1.200000e+05
7            BEL       2.006034e+09
8            BGD       1.740550e+08
9            BGR       1.754287e+07
10           BHR       2.000000e+04
11           BHS       1.250000e+07
12           BMU       8.150000e+08
13           BRA       1.745224e+09
14           CAN       2.014362e+10
15           CHE       6.870531e+09
16           CHL       6.219000e+07
17           CHN       2.550011e+10
18           COL       1.502855e+08
19           CRI       1.600000e+05
20           CSS       5.615800e+06
21           CYM       7.612000e+07
22           CYP       1.106819e+08
23           CZE       6.976262e+08
24           DEU       1.451798e+10
25           DNK       1.841692e+09
26           DOM       4.000000e+04
27           ECU       8.000000e+04
28           EGY       1.460640e+08
29           ESP       4.102101e+09
..           ...                ...
72           PAN       4.533000e+06
73           PER       1.175000e+05
74           PHL       1.143701e+08
75           POL       2.486870e+08
76           PRT       3.034576e+08
77           PST       8.235300e+04
78           ROM       8.428100e+06
79           RUS       4.693437e+09
80           SAU       6.000000e+06
81           SGP       1.505866e+09
82           SLV       9.000000e+04
83           SVK       7.676278e+06
84           SVN       3.124048e+06
85           SWE       4.214880e+09
86           SWZ       2.114100e+07
87           THA       1.757200e+07
88           TUN       3.920000e+06
89           TUR       9.802027e+07
90           TWN       3.462268e+08
91           TZA       2.100000e+07
92           UGA       1.190000e+05
93           UKR       9.896000e+06
94           UMI       0.000000e+00
95           URY       1.375000e+06
96           USA       7.016940e+11
97           VEN       9.000000e+04
98           VNM       1.045000e+08
99           ZAF       6.343200e+07
100          ZMB       0.000000e+00
101          ZWE       1.000000e+07

[102 rows x 2 columns]

In [15]:
new_Data['contribution'] = 0
for country in unique_countries:
    result = 0.0
    Index = new_Data.country_code[new_Data.country_code==country].index
    for i in Index:
        result = new_Data.at[i,'raised_amount_usd']
    new_Data.at[Index,'contribution'] = result / 88400000000

In [16]:
new_Data.sort(['raised_amount_usd'],ascending=False,inplace=True)

C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:

sort(columns=....) is deprecated, use sort_values(by=.....)

In [17]:
new_Data.to_csv("country_total_investments.csv")

In [18]:
Data.drop(['country_code', 'raised_amount_usd'], axis=1, inplace=True)
print Data.columns

Index([], dtype='object')

In [19]:
Data['funded_quarter'] = data.funded_quarter.copy()
Data['raised_amount_usd'] = data[' raised_amount_usd '].copy()
print Data

      funded_quarter raised_amount_usd
0            2010-Q1          750,000
1            2012-Q2        1,750,000
2            2012-Q2        1,750,000
3            2012-Q2        1,750,000
4            2012-Q2        1,750,000
5            2012-Q2        1,750,000
6            2012-Q3           40,000
7            2007-Q1        4,912,394
9            2013-Q1        1,700,000
10           2013-Q1           40,000
13           2011-Q3           40,000
19           2010-Q1           15,000
20           2011-Q1        2,520,000
21           2011-Q1        2,520,000
22           2010-Q1           15,000
23           2011-Q1        2,520,000
24           2011-Q1        2,520,000
25           2011-Q1        2,520,000
26           2011-Q1        2,520,000
27           2011-Q1        2,520,000
28           2011-Q1        2,520,000
29           2013-Q4        1,736,910
32           2006-Q1        3,000,000
33           2011-Q4          750,000
34           2011-Q4          750,000
35           2011-Q4          500,000
36           2011-Q4          750,000
37           2010-Q1       35,000,000
47           2011-Q1        1,800,000
48           2012-Q2           20,000
...              ...               ...
90250        2009-Q4       15,187,000
90251        2008-Q1       10,000,000
90252        2008-Q1       10,000,000
90254        2010-Q3       25,000,000
90255        2013-Q3        3,800,000
90256        2013-Q3        3,800,000
90257        2013-Q2       12,000,000
90258        2013-Q2       12,000,000
90259        2009-Q3        5,400,000
90260        2009-Q4        7,991,548
90261        2008-Q1        2,007,363
90262        2009-Q4        7,991,548
90263        2010-Q4           50,000
90264        2010-Q4          445,000
90265        2013-Q1        2,686,600
90266        2014-Q1          120,000
90267        2013-Q1           32,360
90268        2013-Q3           32,165
90270        2008-Q2       16,000,000
90271        2011-Q1       10,000,000
90272        2013-Q2       17,000,000
90273        2008-Q2       16,000,000
90274        2011-Q1       10,000,000
90275        2008-Q2       16,000,000
90276        2011-Q1       10,000,000
90277        2011-Q1       10,000,000
90278        2014-Q1       12,000,000
90279        2014-Q1       12,000,000
90280        2006-Q4           40,000
90281        2012-Q3           10,000

[78267 rows x 2 columns]

In [20]:
Data = Data[Data.funded_quarter.notnull()]
Data = Data[Data.raised_amount_usd.notnull()]

In [21]:
unique_quarter = np.unique(Data.funded_quarter)
print len(unique_quarter)

77

In [22]:
Data['raised_amount_usd'] = Data['raised_amount_usd'].str.replace(',','')
Data['raised_amount_usd'] = Data['raised_amount_usd'].astype(long)

In [23]:
new_Data = pd.DataFrame()
new_Data['funded_quarter'] = unique_quarter
result = 0.0
new_Data['raised_amount_usd'] = 0
new_Data['raised_amount_usd'] = new_Data['raised_amount_usd'].astype(long)

for quarter in unique_quarter:
    result = 0.0
    Index = new_Data.funded_quarter[new_Data.funded_quarter==quarter].index
    indexes = (Data[Data['funded_quarter']==quarter].index.tolist())
    for i in indexes:
        if i <= 90281:
            result += Data.at[i,'raised_amount_usd']
    new_Data.at[Index,'raised_amount_usd'] = result

In [24]:
new_Data.to_csv("funding_by_quarter.csv")

In [25]:
Data.drop(['funded_quarter', 'raised_amount_usd'], axis=1, inplace=True)
print Data.columns

Index([], dtype='object')

In [26]:
Data['investor_name'] = data.investor_name.copy()
Data['raised_amount_usd'] = data[' raised_amount_usd '].copy()
print Data

                         investor_name raised_amount_usd
0                            Confrapar          750,000
1                  First Round Capital        1,750,000
2                 Innovation Endeavors        1,750,000
3                          Jeff Weiner        1,750,000
4                        Oprah Winfrey        1,750,000
5                          Troy Carter        1,750,000
6                       Start-Up Chile           40,000
7                      Foresight Group        4,912,394
9               Nexus Venture Partners        1,700,000
10                      Start-Up Chile           40,000
13                      Start-Up Chile           40,000
19                        Y Combinator           15,000
20                    Felicis Ventures        2,520,000
21                           FLOODGATE        2,520,000
22                  Founder Collective           15,000
23                   Greylock Partners        2,520,000
24                       Caterina Fake        2,520,000
25                         Chris Sacca        2,520,000
26                        Keith Rabois        2,520,000
27                       Paul Buchheit        2,520,000
28                          Ron Conway        2,520,000
29                      Elaia Partners        1,736,910
32                     iD TechVentures        3,000,000
33                      Band of Angels          750,000
34                    Felicis Ventures          750,000
35                       Founders Fund          500,000
36                   Greylock Partners          750,000
37            Norwest Venture Partners       35,000,000
47         Steel Pier Capital Advisors        1,800,000
48         The University of Melbourne           20,000
...                                ...               ...
90250                       Kevin Rose       15,187,000
90251                      Peter Thiel       10,000,000
90252                     Reid Hoffman       10,000,000
90254        New Enterprise Associates       25,000,000
90255                          Octopus        3,800,000
90256                  Richard Brennan        3,800,000
90257  Bill & Melinda Gates Foundation       12,000,000
90258                            Mylan       12,000,000
90259         GizmoNET IntraWEB.NU PLC        5,400,000
90260        iExploreAsia Credit Union        7,991,548
90261           iExploreAsia Financial        2,007,363
90262                  Zyraz Financial        7,991,548
90263                    MassChallenge           50,000
90264          LaunchPad Venture Group          445,000
90265             Baxter International        2,686,600
90266                        Techstars          120,000
90267                           Eleven           32,360
90268                           Eleven           32,165
90270     Advanced Technology Ventures       16,000,000
90271     Advanced Technology Ventures       10,000,000
90272         Ares Capital Corporation       17,000,000
90273        Blue Chip Venture Company       16,000,000
90274        Blue Chip Venture Company       10,000,000
90275                  Hudson Ventures       16,000,000
90276                  Hudson Ventures       10,000,000
90277                    Intel Capital       10,000,000
90278                    KBI Biopharma       12,000,000
90279                   Lilly Ventures       12,000,000
90280                           Mic AG           40,000
90281                  Chinaccelerator           10,000

[78267 rows x 2 columns]

In [28]:
Data = Data[Data.investor_name.notnull()]
Data = Data[Data.raised_amount_usd.notnull()]

In [29]:
unique_investors = np.unique(Data.investor_name)
print len(unique_investors)

16363

In [30]:
Data['raised_amount_usd'] = Data['raised_amount_usd'].str.replace(',','')
Data['raised_amount_usd'] = Data['raised_amount_usd'].astype(long)

In [31]:
new_Data = pd.DataFrame()
new_Data['investor_name'] = unique_investors
result = 0.0
new_Data['raised_amount_usd'] = 0
new_Data['raised_amount_usd'] = new_Data['raised_amount_usd'].astype(long)

for investor in unique_investors:
    result = 0.0
    Index = new_Data.investor_name[new_Data.investor_name==investor].index
    indexes = (Data[Data['investor_name']==investor].index.tolist())
    for i in indexes:
        if i <= 16363:
            result += Data.at[i,'raised_amount_usd']
    new_Data.at[Index,'raised_amount_usd'] = result

In [33]:
new_Data.sort(['raised_amount_usd'],ascending=False,inplace=True)

C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:

sort(columns=....) is deprecated, use sort_values(by=.....)

In [36]:
new_Data[:10].to_csv("Investments_by_investors.csv")

In [38]:
Data.drop(['investor_name', 'raised_amount_usd'], axis=1, inplace=True)
print Data.columns

Index([], dtype='object')

In [39]:
Data['status'] = data.status.copy()
Data['freq'] = 0
print Data

          status  freq
0      operating     0
1       acquired     0
2       acquired     0
3       acquired     0
4       acquired     0
5       acquired     0
6      operating     0
7         closed     0
9      operating     0
10     operating     0
13     operating     0
19      acquired     0
20      acquired     0
21      acquired     0
22      acquired     0
23      acquired     0
24      acquired     0
25      acquired     0
26      acquired     0
27      acquired     0
28      acquired     0
29     operating     0
32     operating     0
33      acquired     0
34      acquired     0
35      acquired     0
36      acquired     0
37     operating     0
47        closed     0
48     operating     0
...          ...   ...
90250        ipo     0
90251        ipo     0
90252        ipo     0
90254  operating     0
90255  operating     0
90256  operating     0
90257  operating     0
90258  operating     0
90259     closed     0
90260     closed     0
90261     closed     0
90262     closed     0
90263  operating     0
90264  operating     0
90265  operating     0
90266  operating     0
90267  operating     0
90268  operating     0
90270  operating     0
90271  operating     0
90272  operating     0
90273  operating     0
90274  operating     0
90275  operating     0
90276  operating     0
90277  operating     0
90278  operating     0
90279  operating     0
90280  operating     0
90281  operating     0

[78267 rows x 2 columns]

In [41]:
Data.status[Data['status']!='acquired'] = 'not acquired'

C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
print Data

             status  freq
0      not acquired     0
1          acquired     0
2          acquired     0
3          acquired     0
4          acquired     0
5          acquired     0
6      not acquired     0
7      not acquired     0
9      not acquired     0
10     not acquired     0
13     not acquired     0
19         acquired     0
20         acquired     0
21         acquired     0
22         acquired     0
23         acquired     0
24         acquired     0
25         acquired     0
26         acquired     0
27         acquired     0
28         acquired     0
29     not acquired     0
32     not acquired     0
33         acquired     0
34         acquired     0
35         acquired     0
36         acquired     0
37     not acquired     0
47     not acquired     0
48     not acquired     0
...             ...   ...
90250  not acquired     0
90251  not acquired     0
90252  not acquired     0
90254  not acquired     0
90255  not acquired     0
90256  not acquired     0
90257  not acquired     0
90258  not acquired     0
90259  not acquired     0
90260  not acquired     0
90261  not acquired     0
90262  not acquired     0
90263  not acquired     0
90264  not acquired     0
90265  not acquired     0
90266  not acquired     0
90267  not acquired     0
90268  not acquired     0
90270  not acquired     0
90271  not acquired     0
90272  not acquired     0
90273  not acquired     0
90274  not acquired     0
90275  not acquired     0
90276  not acquired     0
90277  not acquired     0
90278  not acquired     0
90279  not acquired     0
90280  not acquired     0
90281  not acquired     0

[78267 rows x 2 columns]

In [46]:
print len(Data.status[Data['status']=='acquired'])

11615

In [47]:
print len(Data.status[Data['status']!='acquired'])

66652

In [54]:
Data.drop(['category_code', 'raised_amount_usd'], axis=1, inplace=True)
print Data.columns

Index([], dtype='object')

In [55]:
Data['category_code'] = data.category_code.copy()
Data['freq'] = 0
print Data

      category_code  freq
0           finance     0
1              news     0
2              news     0
3              news     0
4              news     0
5              news     0
6         education     0
7       advertising     0
9         analytics     0
10        ecommerce     0
13           search     0
19              web     0
20              web     0
21              web     0
22              web     0
23              web     0
24              web     0
25              web     0
26              web     0
27              web     0
28              web     0
29              web     0
32        education     0
33        analytics     0
34        analytics     0
35        analytics     0
36        analytics     0
37         software     0
47       enterprise     0
48           mobile     0
...             ...   ...
90250   games_video     0
90251   games_video     0
90252   games_video     0
90254       biotech     0
90255      software     0
90256      software     0
90257       biotech     0
90258       biotech     0
90259       biotech     0
90260       biotech     0
90261       biotech     0
90262       biotech     0
90263     ecommerce     0
90264     ecommerce     0
90265       biotech     0
90266     education     0
90267        mobile     0
90268        mobile     0
90270    enterprise     0
90271    enterprise     0
90272    enterprise     0
90273    enterprise     0
90274    enterprise     0
90275    enterprise     0
90276    enterprise     0
90277    enterprise     0
90278       biotech     0
90279       biotech     0
90280      hardware     0
90281        mobile     0

[77503 rows x 2 columns]

In [56]:
Data = Data[Data.category_code.notnull()]

In [57]:
unique_categories = np.unique(Data.category_code)

In [58]:
print len(unique_categories)

43

In [59]:
new_Data = pd.DataFrame()
new_Data['category_code'] = unique_categories
result = 0.0
new_Data['freq'] = 0

for category in unique_categories:
    result = 0.0
    Index = new_Data.category_code[new_Data.category_code==category].index
    indexes = (Data[Data['category_code']==category].index.tolist())
    new_Data.at[Index,'freq'] = len(indexes)

In [60]:
print new_Data

       category_code   freq
0        advertising   4227
1          analytics   2656
2         automotive    217
3            biotech   7620
4          cleantech   2778
5         consulting    430
6             design    147
7          ecommerce   4015
8          education   1423
9         enterprise   5945
10           fashion    628
11           finance   1736
12       games_video   2732
13        government     16
14          hardware   2505
15            health   1094
16       hospitality    613
17             legal    129
18             local     66
19     manufacturing    675
20           medical   2256
21         messaging    840
22            mobile   5774
23             music    524
24          nanotech    348
25   network_hosting   1639
26              news    722
27         nonprofit    206
28             other    754
29              pets     64
30       photo_video    501
31   public_relation      4
32  public_relations    331
33       real_estate    380
34            search    734
35          security   1665
36     semiconductor   2065
37            social   1776
38          software  10538
39            sports    252
40    transportation    325
41            travel    753
42               web   5400

In [61]:
new_Data.sort(['freq'],ascending=False,inplace=True)

C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:

sort(columns=....) is deprecated, use sort_values(by=.....)

In [62]:
print new_Data

       category_code   freq
38          software  10538
3            biotech   7620
9         enterprise   5945
22            mobile   5774
42               web   5400
0        advertising   4227
7          ecommerce   4015
4          cleantech   2778
12       games_video   2732
1          analytics   2656
14          hardware   2505
20           medical   2256
36     semiconductor   2065
37            social   1776
11           finance   1736
35          security   1665
25   network_hosting   1639
8          education   1423
15            health   1094
21         messaging    840
28             other    754
41            travel    753
34            search    734
26              news    722
19     manufacturing    675
10           fashion    628
16       hospitality    613
23             music    524
30       photo_video    501
5         consulting    430
33       real_estate    380
24          nanotech    348
32  public_relations    331
40    transportation    325
39            sports    252
2         automotive    217
27         nonprofit    206
6             design    147
17             legal    129
18             local     66
29              pets     64
13        government     16
31   public_relation      4

In [63]:
new_Data[:10].to_csv("category_freq.csv")