# Naive Bayes

#### The classifier will predict that either your company will be acquired or not

### Creating Dataset......

In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt
from sklearn.naive_bayes import *

In [4]:
Companies = pd.read_csv('../Dataset/Companies.csv')

In [5]:
print Companies.columns

Index([u'name', u'category_code', u'funding_total_usd', u'status',
       u'country_code', u'state_code', u'region', u'city', u'funding_rounds',
       u'founded_year'],
      dtype='object')

In [6]:
Companies.drop(['funding_rounds','founded_year'],axis=1,inplace=True)

In [7]:
print len(Companies)
print len(np.unique(Companies['name']))
print Companies['funding_total_usd'][0]

37875
37875
750,000

In [8]:
Investments = pd.read_csv('../Dataset/Investments.csv')

C:\Users\zubai\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
print Investments.columns
Investments.drop(Investments.investor_name.isnull())

Index([u'company_name', u'investor_name', u'investor_category_code',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_type', u'funded_at', u'funded_month',
       u'funded_quarter', u'funded_year', u' raised_amount_usd '],
      dtype='object')

,company_name,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
2,LaunchGram,10Xelerator,finance,USA,OH,Columbus,Columbus,other,1/23/2012,2012-01,2012-Q1,2012,"20,000"
3,uTaP,10Xelerator,finance,USA,OH,Columbus,Columbus,other,1/1/2012,2012-01,2012-Q1,2012,"20,000"
4,ZoopShop,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2/15/2012,2012-02,2012-Q1,2012,"20,000"
5,eFuneral,10Xelerator,finance,USA,OH,Columbus,Columbus,other,9/8/2011,2011-09,2011-Q3,2011,"20,000"
6,Tackk,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,4/10/2012,2012-04,2012-Q2,2012,NaN
7,Acclaimd,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,6/1/2012,2012-06,2012-Q2,2012,"20,000"
8,Acceptd,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,6/1/2011,2011-06,2011-Q2,2011,"20,000"
9,Prized,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,8/10/2013,2013-08,2013-Q3,2013,"20,000"
10,Imagry,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,9/1/2013,2013-09,2013-Q3,2013,"20,000"
11,MoveEZ,10Xelerator,finance,USA,OH,Columbus,Columbus,other,9/16/2013,2013-09,2013-Q3,2013,"20,000"
12,ConnectToHome,10Xelerator,finance,USA,OH,Columbus,Columbus,other,9/19/2013,2013-09,2013-Q3,2013,"20,000"
13,Panopticon Laboratories,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,9/4/2013,2013-09,2013-Q3,2013,"20,000"
14,Fly Apparel,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,9/1/2013,2013-09,2013-Q3,2013,"20,000"
15,OYE!,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,9/4/2013,2013-09,2013-Q3,2013,"20,000"
16,LEAPIN Digital Keys,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,8/16/2013,2013-08,2013-Q3,2013,NaN
17,Last Size,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,8/16/2013,2013-08,2013-Q3,2013,NaN
18,Stockleap,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,8/16/2013,2013-08,2013-Q3,2013,NaN
19,morphCARD,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,4/10/2012,2012-04,2012-Q2,2012,NaN
20,Oneexchangestreet,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,4/10/2012,2012-04,2012-Q2,2012,NaN
21,Rooftop Down,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,4/10/2012,2012-04,2012-Q2,2012,NaN
22,Mondokio,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,10/25/2011,2011-10,2011-Q4,2011,NaN
23,whodoyou,18 Partners,NaN,NaN,NaN,unknown,NaN,angel,1/1/2014,2014-01,2014-Q1,2014,"900,000"
24,Nival,1C Company,software,RUS,NaN,Moscow,Moscow,venture,3/17/2010,2010-03,2010-Q1,2010,"7,000,000"
25,StartMe,1st Media services,NaN,NaN,NaN,unknown,NaN,other,10/1/2011,2011-10,2011-Q4,2011,"50,000"
26,Vennli,1st Source Bank,NaN,NaN,NaN,unknown,NaN,angel,3/5/2014,2014-03,2014-Q1,2014,"1,300,000"
27,readfy,1stMover.org,NaN,NaN,NaN,unknown,NaN,angel,7/1/2013,2013-07,2013-Q3,2013,NaN
28,ToVieFor,2010 NYU Stern Business Plan Competition,NaN,NaN,NaN,unknown,NaN,angel,4/1/2010,2010-04,2010-Q2,2010,"75,000"
29,iSpye,20:20 Multimedia Group,NaN,NaN,NaN,unknown,NaN,private-equity,9/26/2012,2012-09,2012-Q3,2012,NaN
30,Aentropico,1/27/1958,web,BRA,NaN,Rio de Janeiro,Rio de Janeiro,angel,3/13/2013,2013-03,2013-Q1,2013,"25,000"
31,OHK Labs,22Hundred Group,NaN,NaN,NaN,unknown,NaN,angel,9/1/2011,2011-09,2011-Q3,2011,"100,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90253,Farmeron,Zeljko Mataija,NaN,NaN,NaN,unknown,NaN,angel,10/1/2010,2010-10,2010-Q4,2010,"15,000"
90254,PillPack,Zen Chu,NaN,NaN,NaN,unknown,NaN,venture,2/4/2014,2014-02,2014-Q1,2014,"4,000,000"
90255,Lyxia,Zeng Liqing,NaN,NaN,NaN,unknown,NaN,series-a,6/30/2013,2013-06,2013-Q2,2013,"1,600,000"
90256,Theraclone Sciences,Zenyaku Kogyo,NaN,NaN,NaN,unknown,NaN,series-b,3/25/2013,2013-03,2013-Q1,2013,"8,000,000"
90257,CloudHashing,Zhenya Tsvetnenko,NaN,NaN,NaN,unknown,NaN,series-a,11/16/2013,2013-11,2013-Q4,2013,"3,500,000"
90258,Yodo1,Zhi Tan,NaN,NaN,NaN,unknown,NaN,series-a,4/18/2013,2013-04,2013-Q2,2013,"5,000,000"
90259,Rong360,Zhuang Chenchao,NaN,NaN,NaN,unknown,NaN,angel,1/1/2012,2012-01,2012-Q1,2012,NaN
90260,SimpleGeo,Ziv Navoth,NaN,NaN,NaN,unknown,NaN,other,11/10/2009,2009-11,2009-Q4,2009,"195,000"
90261,Open Me,Ziver Birg,NaN,NaN,NaN,unknown,NaN,angel,8/1/2013,2013-08,2013-Q3,2013,NaN
90262,easyOwn.it,Zo li,NaN,NaN,NaN,unknown,NaN,angel,5/1/2011,2011-05,2011-Q2,2011,"138,000"
90263,Loopcam,Zoe Adamovicz,NaN,NaN,NaN,unknown,NaN,angel,5/1/2012,2012-05,2012-Q2,2012,NaN
90264,Edenbee.com,Zoe Quinn,NaN,NaN,NaN,unknown,NaN,angel,1/1/2007,2007-01,2007-Q1,2007,"329,250"
90265,Payoneer,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,1/1/2005,2005-01,2005-Q1,2005,"2,000,000"
90266,Tvinci,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2/9/2009,2009-02,2009-Q1,2009,"1,600,000"
90267,Outbrain,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-b,2/11/2009,2009-02,2009-Q1,2009,"12,000,000"
90268,WiseStamp,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,angel,1/1/2010,2010-01,2010-Q1,2010,NaN
90269,Redis Labs,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,8/8/2012,2012-08,2012-Q3,2012,"4,000,000"
90270,Tvinci,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,venture,10/15/2012,2012-10,2012-Q4,2012,"4,500,000"
90271,Yotpo,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,venture,10/31/2012,2012-10,2012-Q4,2012,"1,500,000"
90272,Duda,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-c+,4/8/2013,2013-04,2013-Q2,2013,"10,300,000"
90273,JoyTunes,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,5/3/2013,2013-05,2013-Q2,2013,"1,500,000"
90274,SiteBrains,zohar israel,NaN,NaN,NaN,unknown,NaN,angel,8/1/2010,2010-08,2010-Q3,2010,"350,000"
90275,Noise Freaks,Zolt�n �dor,NaN,NaN,NaN,unknown,NaN,angel,10/1/2010,2010-10,2010-Q4,2010,"10,000"
90276,Comprehend Systems,Zorba Lieberman,NaN,NaN,NaN,unknown,NaN,series-a,7/11/2013,2013-07,2013-Q3,2013,"8,400,000"
90277,SmartThings,Zorik Gordon,NaN,NaN,NaN,unknown,NaN,series-a,12/4/2012,2012-12,2012-Q4,2012,"3,000,000"
90278,Sportomato,"Zsolt Csaba P�ndi, Phd.",NaN,NaN,NaN,unknown,NaN,angel,3/12/2014,2014-03,2014-Q1,2014,"20,000"
90279,Seventh Continent,Zsolt Menesi,NaN,NaN,NaN,unknown,NaN,angel,7/1/2009,2009-07,2009-Q3,2009,"400,000"
90280,KeepTruckin,Zubair Jandali,NaN,NaN,NaN,unknown,NaN,series-a,7/1/2013,2013-07,2013-Q3,2013,"2,300,000"
90281,shopatplaces,Zuhaib Khan,NaN,NaN,NaN,unknown,NaN,angel,5/1/2012,2012-05,2012-Q2,2012,"33,000"
90282,Freightos,Zvi Schreiber,NaN,NaN,NaN,unknown,NaN,series-a,12/19/2012,2012-12,2012-Q4,2012,"1,700,000"

In [10]:
Investments.drop(['investor_category_code','investor_country_code','investor_state_code','investor_region','investor_city','funding_round_type','funded_at','funded_month','funded_quarter'],axis=1,inplace=True)
print Investments.columns

Index([u'company_name', u'investor_name', u'funded_year',
       u' raised_amount_usd '],
      dtype='object')

In [11]:
Investments.rename(columns={'company_name':'name',' raised_amount_usd ':'raised_amount_usd'},inplace=True)

In [12]:
print Investments.columns

Index([u'name', u'investor_name', u'funded_year', u'raised_amount_usd'], dtype='object')

In [13]:
data = pd.merge(Companies,Investments,how='inner',on='name')

In [14]:
print data.columns
print len(data)

Index([u'name', u'category_code', u'funding_total_usd', u'status',
       u'country_code', u'state_code', u'region', u'city', u'investor_name',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')
90282

#### Encoding the categorical features into integers.......

In [15]:
def onehotencode_toIntegers(data):
    unique_tokens=np.unique(data['category_code']).copy()
    print "encoding categories...",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['category_code'][data['category_code']==value] = index
    
    print "encoding status ..... "
    data.status[data['status']!='acquired'] = '0'
    data.status[data['status']=='acquired'] = '1'
        
    unique_tokens=np.unique(data['country_code']).copy()
    print "encoding countries....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['country_code'][data['country_code']==value] = index
        
    unique_tokens=np.unique(data['state_code']).copy()
    print "encoding states....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['state_code'][data['state_code']==value] = index
        
    unique_tokens=np.unique(data['region']).copy()
    print "encoding regions....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['region'][data['region']==value] = index
        
    unique_tokens=np.unique(data['city']).copy()
    print "encoding cities....",len(unique_tokens)
    for index,value in enumerate(unique_tokens):
        data['city'][data['city']==value] = index
        
    
    data.to_csv("data.csv")

In [16]:
data.drop(['name','funding_total_usd'],axis=1,inplace=True)

In [17]:
data.drop(['investor_name'],axis=1,inplace=True)
print data.columns

Index([u'category_code', u'status', u'country_code', u'state_code', u'region',
       u'city', u'funded_year', u'raised_amount_usd'],
      dtype='object')

#### Removing Noise from the dataset

In [18]:
data = data[data.category_code.notnull()]
data = data[data.status.notnull()]
data = data[data.country_code.notnull()]
data = data[data.state_code.notnull()]
data = data[data.region.notnull()]
data = data[data.city.notnull()]
data = data[data.funded_year.notnull()]
data = data[data.raised_amount_usd.notnull()]

In [19]:
onehotencode_toIntegers(data)

encoding categories... 43
encoding status .....

C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

encoding countries.... 19
encoding states....

C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 50
encoding regions.... 511
encoding cities....

C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\zubai\Anaconda2\lib\site-packages\ipykernel\__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 1207

In [20]:
data.dropna()

,category_code,status,country_code,state_code,region,city,funded_year,raised_amount_usd
1,26,1,18,33,298,691,2012,"1,750,000"
2,26,1,18,33,298,691,2012,"1,750,000"
3,26,1,18,33,298,691,2012,"1,750,000"
4,26,1,18,33,298,691,2012,"1,750,000"
5,26,1,18,33,298,691,2012,"1,750,000"
9,1,0,18,3,377,656,2013,"1,700,000"
13,34,0,18,36,348,501,2011,"40,000"
19,42,1,18,3,377,909,2010,"15,000"
20,42,1,18,3,377,909,2011,"2,520,000"
21,42,1,18,3,377,909,2011,"2,520,000"
22,42,1,18,3,377,909,2010,"15,000"
23,42,1,18,3,377,909,2011,"2,520,000"
24,42,1,18,3,377,909,2011,"2,520,000"
25,42,1,18,3,377,909,2011,"2,520,000"
26,42,1,18,3,377,909,2011,"2,520,000"
27,42,1,18,3,377,909,2011,"2,520,000"
28,42,1,18,3,377,909,2011,"2,520,000"
33,1,1,18,3,377,909,2011,"750,000"
34,1,1,18,3,377,909,2011,"750,000"
35,1,1,18,3,377,909,2011,"500,000"
36,1,1,18,3,377,909,2011,"750,000"
37,38,0,18,33,298,691,2010,"35,000,000"
47,9,0,18,0,193,444,2011,"1,800,000"
51,38,0,18,38,353,822,2012,"55,000"
52,38,0,18,38,353,822,2012,"14,000"
53,38,0,18,38,353,822,2013,"45,000"
54,38,0,18,38,353,822,2013,"500,000"
55,38,0,18,38,353,822,2013,"150,000"
56,38,0,18,38,353,822,2014,"30,000"
57,38,0,18,38,353,822,2012,"55,000"
...,...,...,...,...,...,...,...,...
90236,12,0,18,3,377,909,2008,"25,000,000"
90237,12,0,18,3,377,909,2011,"490,000,000"
90238,12,0,18,3,377,909,2011,"490,000,000"
90239,12,0,18,3,377,909,2008,"10,000,000"
90240,12,0,18,3,377,909,2010,"300,000,000"
90241,12,0,18,3,377,909,2008,"10,000,000"
90242,12,0,18,3,377,909,2011,"490,000,000"
90243,12,0,18,3,377,909,2009,"15,187,000"
90244,12,0,18,3,377,909,2008,"10,000,000"
90245,12,0,18,3,377,909,2008,"25,000,000"
90246,12,0,18,3,377,909,2008,"5,026,000"
90247,12,0,18,3,377,909,2008,"10,000,000"
90248,12,0,18,3,377,909,2008,"10,000,000"
90249,12,0,18,3,377,909,2008,"10,000,000"
90250,12,0,18,3,377,909,2009,"15,187,000"
90251,12,0,18,3,377,909,2008,"10,000,000"
90252,12,0,18,3,377,909,2008,"10,000,000"
90254,3,0,18,19,464,351,2010,"25,000,000"
90263,7,0,18,18,52,166,2010,"50,000"
90264,7,0,18,18,52,166,2010,"445,000"
90270,9,0,18,33,298,691,2008,"16,000,000"
90271,9,0,18,33,298,691,2011,"10,000,000"
90272,9,0,18,33,298,691,2013,"17,000,000"
90273,9,0,18,33,298,691,2008,"16,000,000"
90274,9,0,18,33,298,691,2011,"10,000,000"
90275,9,0,18,33,298,691,2008,"16,000,000"
90276,9,0,18,33,298,691,2011,"10,000,000"
90277,9,0,18,33,298,691,2011,"10,000,000"
90278,3,0,18,42,20,56,2014,"12,000,000"
90279,3,0,18,42,20,56,2014,"12,000,000"

Changing datatype of features to integer

In [21]:
print data['raised_amount_usd'][:1]

1     1,750,000
Name: raised_amount_usd, dtype: object

In [22]:
data['category_code'] = data['category_code'].astype(int)
data['status'] = data['status'].astype(int)
data['country_code'] = data['country_code'].astype(int)
data['region'] = data['region'].astype(int)
data['state_code'] = data['state_code'].astype(int)
data['city'] = data['city'].astype(int)
data['funded_year'] = data['funded_year'].astype(int)

data['raised_amount_usd'] = data['raised_amount_usd'].str.replace(',','')
data['raised_amount_usd'] = data['raised_amount_usd'].astype(long)

In [23]:
data.raised_amount_usd = (data.raised_amount_usd.astype(np.int64) / 50000)
data.raised_amount_usd = data['raised_amount_usd'].astype(int)

#### Creating training and test set by 70 % and 30% ratio

In [24]:
print data.columns

Index([u'category_code', u'status', u'country_code', u'state_code', u'region',
       u'city', u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [25]:
Y = data.status

data.drop(['raised_amount_usd','funded_year','raised_amount_usd'],axis=1,inplace=True)

In [26]:
print data.columns
print len(np.unique(Y))
print len(Y)

Index([u'category_code', u'status', u'country_code', u'state_code', u'region',
       u'city'],
      dtype='object')
2
57066

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(data,Y,test_size=0.3)

In [28]:
print "Xtrain : ",X_train.shape
print "Xtest : ",X_test.shape
print "Ytrain : ",Y_train.shape
print "Ytest : ",Y_test.shape

Xtrain :  (39946, 6)
Xtest :  (17120, 6)
Ytrain :  (39946L,)
Ytest :  (17120L,)

### Classification

In [29]:
classifier = MultinomialNB()

In [30]:
classifier.fit(X_train,Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [31]:
predictions = classifier.predict(X_test)

In [32]:
accuracy = classifier.score(X_test,Y_test)

In [33]:
print accuracy*100,"%"

83.9018691589 %

### Visualization

In [34]:
import pylab as pl
import collections

In [35]:
frequencies = collections.Counter(Y_train)
print frequencies

Counter({0: 33138, 1: 6808})

In [36]:
labels = ['not acquired','acquired']

In [37]:
for i,v in frequencies.iteritems():
    frequencies[i] /= 39946.0
    frequencies[i] *= 100

print frequencies

Counter({0: 82.95699193911781, 1: 17.043008060882194})

In [38]:
size = []
for i,v in frequencies.iteritems():
    size.append(v)

sizes = np.array(size)
sizes = sizes.astype(float)
print sizes

colors = [ 'gold', 'lightskyblue']
explode = (0.2, 0)

[ 82.95699194  17.04300806]

In [39]:
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True, startangle=90)
plt.axis('equal')

fig = plt.figure()
ax = fig.gca()